---
import LiveBadge from "./LiveBadge.astro";
import UpcomingCountdown from "./UpcomingCountdown";

interface Props {
  eventDateTime: number;
}

const { eventDateTime } = Astro.props;
---

<LiveBadge color="amber">
  <span>Upcoming</span>
  <UpcomingCountdown client:load eventDateTime={eventDateTime} />
</LiveBadge>
